<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title" langtag="page-clientedit"></h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input name="id" type="hidden" value="{{.c.Id}}">
                    <div class="form-group" id="remark">
                        <label class="control-label font-bold" langtag="word-remark"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="word-remark" name="remark" placeholder="" type="text" value="{{.c.Remark}}">
                        </div>
                    </div>
                    {{if eq true .isAdmin}}
                    <div class="form-group" id="flow_reset">
                        <label class="control-label font-bold" langtag="word-flowreset"></label>
                        <div class="col-sm-12">
                            <input name="flow_reset" type="checkbox" value="1">
                            <span class="help-block m-b-none" langtag="info-flowreset"></span>
                        </div>
                    </div>
                    {{if eq true .allow_flow_limit}}
                    <div class="form-group" id="flow_limit">
                        <label class="control-label font-bold" langtag="word-flowlimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="flow_limit" placeholder="" type="text" value="{{.c.Flow.FlowLimit}}">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: M
                        </div>
                    </div>
                    {{end}}
                    {{if eq true .allow_time_limit}}
                    <div class="form-group" id="time_limit">
                        <label class="control-label font-bold" langtag="word-timelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="time_limit_input" langtag="info-unrestricted" name="time_limit" placeholder="" type="text" value="{{.c.Flow.TimeLimit}}">
                            <span class="help-block m-b-none" langtag="info-timelimit"></span>
                        </div>
                    </div>
                    {{end}}
                    {{if eq true .allow_rate_limit}}

                    <div class="form-group" id="rate_limit">
                        <label class="control-label font-bold" langtag="word-ratelimit"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="rate_limit" placeholder="" type="text" value="{{.c.RateLimit}}">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: KB/S
                        </div>
                    </div>
                    {{end}}
                    {{if eq true .allow_connection_num_limit}}

                    <div class="form-group" id="max_conn">
                        <label class="control-label font-bold" langtag="word-maxconnections"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="max_conn" placeholder="" type="text" value="{{.c.MaxConn}}">
                        </div>
                    </div>
                    {{end}}
                    {{if eq true .allow_tunnel_num_limit}}
                    <div class="form-group" id="max_tunnel">
                        <label class="control-label font-bold" langtag="word-maxtunnels"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="max_tunnel" placeholder="" type="text" value="{{.c.MaxTunnelNum}}">
                        </div>
                    </div>
                    {{end}}
                    {{end}}
                    <div class="form-group" id="u">
                        <label class="control-label font-bold" langtag="word-basicusername"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="u" placeholder="" type="text" value="{{.c.Cnf.U}}">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label font-bold" langtag="word-basicpassword"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="p" placeholder="" type="text" value="{{.c.Cnf.P}}">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    {{if eq true .isAdmin}}
                    <div class="form-group" id="vkey">
                        <label class="control-label font-bold" langtag="word-verifyKey"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="vkey" placeholder="" type="text" value="{{.c.VerifyKey}}">
                            <span class="help-block m-b-none" langtag="info-autogenerated"></span>
                        </div>
                    </div>
                    {{end}}
                    {{if eq true .allow_user_login}}
                    {{if or (eq true .allow_user_change_username) (eq true .isAdmin)}}
                    <div class="form-group" id="web_username">
                        <label class="control-label font-bold" langtag="word-webusername"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="web_username" placeholder="" type="text" value="{{.c.WebUserName}}">
                        </div>
                    </div>
                    {{end}}
                    <div class="form-group" id="web_password">
                        <label class="control-label font-bold" langtag="word-webpassword"></label>
                        <div class="col-sm-12">
                            <input class="form-control" langtag="info-unrestricted" name="web_password" placeholder="" type="text" value="{{.c.WebPassword}}">
                        </div>
                    </div>
                    {{end}}
                    <div class="form-group" id="config_conn_allow">
                        <label class="control-label font-bold" langtag="word-connectbyconfig"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="config_conn_allow">
                                <option {{if eq true .c.ConfigConnAllow}}selected{{end}}  value="1" langtag="word-yes"></option>
                                <option {{if eq false .c.ConfigConnAllow}}selected{{end}} value="0" langtag="word-no"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label font-bold" langtag="word-compress"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="compress">
                                <option {{if eq false .c.Cnf.Compress}}selected{{end}} value="0" langtag="word-no"></option>
                                <option {{if eq true .c.Cnf.Compress}}selected{{end}}  value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="crypt">
                        <label class="control-label font-bold" langtag="word-crypt"></label>
                        <div class="col-sm-12">
                            <select class="form-control selectpicker" name="crypt">
                                <option {{if eq false .c.Cnf.Crypt}}selected{{end}} value="0" langtag="word-no"></option>
                                <option {{if eq true .c.Cnf.Crypt}}selected{{end}} value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="black_ip_list">
                        <label class="control-label font-bold" langtag="word-blackiplist"></label>
                        <div class="col-sm-12">
                            <textarea class="form-control" langtag="info-suchasblackiplist" name="blackiplist" placeholder="" rows="4" type="text">{{.BlackIpList}}</textarea>
                            <span class="help-block m-b-none" langtag="info-descblackiplist"></span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-lg-12 col-sm-offset-2">
                            <button class="btn btn-secondary" onclick="goback()" type="button">
                                <i class="fa fa-fw fa-lg fa-window-close"></i> <span langtag="word-cancel"></span>
                            </button>
                            <button class="btn btn-success" onclick="submitform('add', '{{.web_base_url}}/client/edit', $('form').serializeArray())" type="button">
                                <i class="fa fa-fw fa-lg fa-save"></i><span langtag="word-save"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
