networks:
  1panel-network:
    external: true

services:
  maccms10:
    image: ghcr.io/pooneyy/maccms10:2025.1000.4052
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
