services:
  decotv:
    image: ghcr.io/decohererk/decotv:latest
    pull_policy: always
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:3000"
    environment:
      - USERNAME=${USERNAME}
      - PASSWORD=${PASSWORD}
      - NEXT_PUBLIC_ENABLE_BLOCKAD=true
      - NEXT_PUBLIC_ENABLE_REGISTER=${NEXT_PUBLIC_ENABLE_REGISTER}
      # - NEXT_PUBLIC_DISABLE_YELLOW_FILTER=${NEXT_PUBLIC_DISABLE_YELLOW_FILTER}
      # - NEXT_PUBLIC_SEARCH_MAX_PAGE=${NEXT_PUBLIC_SEARCH_MAX_PAGE}
      - NEXT_PUBLIC_SITE_NAME=${NEXT_PUBLIC_SITE_NAME}
      - NEXT_PUBLIC_SITE_DESCRIPTION=${NEXT_PUBLIC_SITE_DESCRIPTION}
      - NEXT_PUBLIC_STORAGE_TYPE=${NEXT_PUBLIC_STORAGE_TYPE}
      - KVROCKS_URL=${KVROCKS_URL}
      - REDIS_URL=${REDIS_URL}
      - UPSTASH_URL=${UPSTASH_URL}
      - UPSTASH_TOKEN=${UPSTASH_TOKEN}
      - DOUBAN_API_KEY=${DOUBAN_API_KEY}
    labels:
      createdBy: "Apps"

networks:
  1panel-network:
    external: true
