networks:
  1panel-network:
    external: true

services:
  mcy-shop:
    image: ghcr.io/pooneyy/mcy-shop:5.0.29
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
