services:
  phtunnel:
    image: "bestoray/phtunnel:latest"
    pull_policy: always
    container_name: ${CONTAINER_NAME}
    restart: always
    devices:
      - /dev/net/tun
    network_mode: host
    cap_add:
      - NET_ADMIN
    labels:
      createdBy: "Apps"
