networks:
  1panel-network:
    external: true

services:
  acg-faka:
    image: ghcr.io/pooneyy/acg-faka:3.2.4
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
