networks:
  1panel-network:
    external: true

services:
  prowlarr:
    image: linuxserver/prowlarr:2.3.0
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:9696
    volumes:
      - ${PROWLARR_ROOT_PATH}/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=Asia/Shanghai
