networks:
  1panel-network:
    external: true

services:
  pihole:
    image: pihole/pihole:2025.11.1
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
      - ${PANEL_APP_PORT_DNS}:53
      - ${PANEL_APP_PORT_DNS}:53/udp
    volumes:
      - ${PIHOLE_ROOT_PATH}/pihole:/etc/pihole
      - ${PIHOLE_ROOT_PATH}/dnsmasq.d:/etc/dnsmasq.d
    environment:
      - TZ=Asia/Shanghai
