services:
  nzbget:
    container_name: ${CONTAINER_NAME}
    image: nzbgetcom/nzbget:v25.4
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:6789"
    environment:
      - TZ=Asia/Shanghai
      - PUID=1000
      - PGID=1000
    volumes:
      - ./config:/config
      - ./downloads:/downloads
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true 