services:
  magic-resume:
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - "${PANEL_APP_PORT_HTTP}:3000"
    environment:
      - NODE_ENV=production
    image: siyueqingchen/magic-resume:main
    pull_policy: always
    labels:  
      createdBy: "Apps"

networks:  
  1panel-network:  
    external: true
