[mysqld]
host_cache_size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

mysql_native_password=ON
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
lower_case_table_names=1
group_concat_max_len=1024000
log_bin_trust_function_creators=1

secure_file_priv=
pid_file=/var/run/mysqld/mysqld.pid
[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
