networks:
  1panel-network:
    external: true

services:
  stream-rec-frontend:
    image: streamrec/stream-rec-front:main
    pull_policy: always
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:15275
