services:
  jdxb:
    image: ionewu/owjdxb:latest
    pull_policy: always
    container_name: ${CONTAINER_NAME}
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:9118
    volumes:
      - ./store:/data/store
    restart: unless-stopped
    labels:
      createdBy: "Apps"
networks:
  1panel-network:
    external: true
