networks:
  1panel-network:
    external: true

services:
  kotatsu-syncserver:
    image: ghcr.io/pooneyy/kotatsu-syncserver:20251107
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:8080
    environment:
      - TZ=Asia/Shanghai
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - ALLOW_NEW_REGISTER=${ALLOW_NEW_REGISTER}
