services:
  hubcmd-ui:
    image: dqzboy/hubcmd-ui:latest
    pull_policy: always
    container_name: ${CONTAINER_NAME}
    restart: always
    ports:
      - ${PANEL_APP_PORT_HTTP}:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - 1panel-network
    environment:
      - LOG_LEVEL=INFO
      - SIMPLE_LOGS=true
    labels:
      createdBy: Apps
networks:
  1panel-network:
    external: true
